*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header >nav{
    padding-top: 1%;
}
.center{
    width: 80%;
    margin: auto;
}

.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.canali-discord{
    margin-top: 8%;
}
button{
    background-color: white;
    color: black;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    
}

.logo, .bottone{
    flex-basis: 15%;
}

.menu{
    flex-basis: 45%;
    
}

.menu-list{
    list-style: none;
    color: white;
}

.container-text{
    height: 47vh;
    width: 50%;
    text-align:center;
    color: white;
    padding: 6% 0

}

.button-text{
    background-color: black;
    color: white;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    margin-left: 2%;
}

.button-download{
    background-color: rgb(87,101,242);
    color: white;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    margin-bottom: 15%;
}

.section1{
    margin-top: 15%;

}

.box{
    background-color: white;
    
}

.picture { 
    flex-basis: 55%;  
    vertical-align: middle;
    
}

.text{
    font-size: 25px;
    padding: 30px;
    flex-basis: 42%;
    text-align: left;

}

.testo {
    text-align: center;
    margin-top: 15%;
    font-size: 25px;
    
}
.immagine {
    text-align: center;
}
.testo-button {
    text-align: center;
}

.row { 
    padding-top: 1%;
    
}

.flex-column{
    display: flex;
    flex-direction:column;
}

.flex{
    display: flex;
    flex-direction: row;
}

.menu-footer{
    padding: 3%;
    border-bottom: 1px solid rgb(87,101,241);
    width: 80%;
} 

.colonna1 {
    flex-grow: 2;
}

.colonna1 >p{
    color: rgb(87,101,241);
    font-size: 2em;
    font-weight: 900;

}

.colonna2, .colonna3{
    flex-grow: 1;
    margin-top: 5px;
    color: white;
}

footer{
    background-color: rgb(35,39,42);
}

.bottom-button{
    height: 15vh;
    margin-top: 1%;

}

.ita{
    vertical-align: middle;
    width: 5%;
    height: 4%;
}

.icon >i{
    color: white;
    margin-top: 5%;
    margin-right: 5%;
    
}

.colonna1 > span{
    color: white;
    vertical-align: middle;
}

.footer-list{
    list-style: none;
    line-height: 26px;
}

.title{
    color: rgb(87,101,241);
    font-weight: bold;
}

