*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
header >nav{
    padding-top: 1%;
}
.center{
    width: 80%;
    margin: auto;
}

.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    background-color: white;
    color: black;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    
}

.logo, .bottone{
    flex-basis: 15%;
}

.menu{
    flex-basis: 45%;
    
}

.menu-list{
    list-style: none;
    color: white;
}

.container-text{
    height: 47vh;
    width: 50%;
    text-align:center;
    color: white;
    padding: 6% 0

}

.button-text{
    background-color: black;
    color: white;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    margin-left: 2%;
}
#button-download{
    background-color: rgb(87,101,242);
    color: white;
    padding: 12px 12px;
    border-radius: 40px;
    border-style: none;
    line-height: 7px;
    font-weight: 300;
    margin-bottom: 15%;
}
.canali-discord{
    
    
}

.section1{
    width: 100%;
    margin-top: 15%;
    
}

.box{
    background-color: white;
    
}

.box1{
 
   
}

.picture { 
    flex-basis: 55%;  
    
}

.text{
    font-size: 0,8em;
    padding: 4% 23% 0% 5%;
    flex-basis: 42%;
    text-align: left;

}

.testo {
    text-align: center;
    padding: 0% 23%;
    margin-top: 15%;
    
}
.immagine {
    text-align: center;
}
.testo-button {
    text-align: center;
}

.row { 
    padding-top: 1%;
    
}

.flex-column{
    display: flex;
    flex-direction:column;
}

.flex{
    display: flex;
    flex-direction: row;
}

.menu-footer{
    height: 50vh;
    
}

.colonna1{
    background-color: red;
    flex-grow: 2;
}

.colonna2{
    background-color: brown;
    flex-grow: 1;
    
}
.colonna3{
    background-color: rgb(109, 8, 8);
    flex-grow: 1;
   
}

footer{
    background-color: lightgrey;
}

.bottom-button{
    background-color: lightskyblue;
    height: 10vh;

}

.cella{
    background-color: blue;
    width: 15%;
    height: 100%;
}

footer > div:first-child{
    border-bottom: 5px solid black;
}